.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    min-width: 180px;

    border-radius: 12px;

    color: white;

    padding: 25px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
}

.card h2 {
    font-size: 40px;
    margin: 0;
}

.card span {
    font-size: 15px;
}


/* ========================= */
/* ESTADOS */
/* ========================= */

/* 1 - Pendiente */
.pendiente {
    background: #FB8C00;
}


/* 2 - En proceso */
.proceso {
    background: #1E88E5;
}


/* 3 - Trabajo finalizado */
.trabajo-finalizado {
    background: #ff0080;
}


/* 4 - Aprobado */
.aprobado {
    background: #0000FF;
}


/* 5 - Pendiente pago */
.pago {
    background: #FDD835;
    color: black;
}


/* 6 - Finalizado */
.finalizado {
    background: #43A047;
}


/* ========================= */
/* TOTALES */
/* ========================= */

.total {
    background: #5E35B1;
}