<mat-card>

  <mat-card-header>

    <mat-card-title>
      Clientes / Farmacias
    </mat-card-title>

  </mat-card-header>


  <mat-card-content>


    <!-- ========================= -->
    <!-- FILTROS -->
    <!-- ========================= -->

    <div class="filtros">


      <!-- BUSCAR -->
      <mat-form-field
        appearance="outline">

        <mat-label>
          Buscar farmacia
        </mat-label>

        <input
          matInput
          [(ngModel)]="filtroTexto"
          (ngModelChange)="cambioTexto()"
          placeholder="Nombre o número de farmacia">

        <mat-icon matSuffix>
          search
        </mat-icon>

      </mat-form-field>


      <!-- PROVINCIA -->

      <mat-form-field
        appearance="outline">

        <mat-label>
          Provincia
        </mat-label>

        <mat-select
          [(ngModel)]="filtroProvincia"
          (selectionChange)="cambioProvincia()">

          <mat-option [value]="null">

            Todas las provincias

          </mat-option>

          @for (
            provincia of provincias;
            track provincia.id
          ) {

            <mat-option
              [value]="provincia.id">

              {{ provincia.nombre }}

            </mat-option>

          }

        </mat-select>

      </mat-form-field>


      <!-- CIUDAD -->

      <mat-form-field
        appearance="outline">

        <mat-label>
          Ciudad
        </mat-label>

        <mat-select
          [(ngModel)]="filtroCiudad"
          (selectionChange)="cambioCiudad()"
          [disabled]="!filtroProvincia">

          <mat-option [value]="null">

            Todas las ciudades

          </mat-option>

          @for (
            ciudad of ciudades;
            track ciudad.id
          ) {

            <mat-option
              [value]="ciudad.id">

              {{ ciudad.nombre }}

            </mat-option>

          }

        </mat-select>

      </mat-form-field>


      <!-- LIMPIAR -->

      <button
        mat-stroked-button
        type="button"
        (click)="limpiarFiltros()">

        <mat-icon>
          filter_alt_off
        </mat-icon>

        Limpiar filtros

      </button>


    </div>


    <!-- ========================= -->
    <!-- TABLA -->
    <!-- ========================= -->

    <div class="tabla-container">

      <table
        mat-table
        [dataSource]="clientesFiltrados"
        class="tabla">


        <!-- NRO CLIENTE -->

        <ng-container
          matColumnDef="nroCliente">

          <th
            mat-header-cell
            *matHeaderCellDef>

            N.º Farmacia

          </th>

          <td
            mat-cell
            *matCellDef="let cliente">

            {{ cliente.nroCliente }}

          </td>

        </ng-container>


        <!-- NOMBRE -->

        <ng-container
          matColumnDef="nombre">

          <th
            mat-header-cell
            *matHeaderCellDef>

            Nombre

          </th>

          <td
            mat-cell
            *matCellDef="let cliente">

            {{ cliente.nombre }}

          </td>

        </ng-container>


        <!-- PROVINCIA -->

        <ng-container
          matColumnDef="provincia">

          <th
            mat-header-cell
            *matHeaderCellDef>

            Provincia

          </th>

          <td
            mat-cell
            *matCellDef="let cliente">

            {{ cliente.provincia }}

          </td>

        </ng-container>


        <!-- CIUDAD -->

        <ng-container
          matColumnDef="ciudad">

          <th
            mat-header-cell
            *matHeaderCellDef>

            Ciudad

          </th>

          <td
            mat-cell
            *matCellDef="let cliente">

            {{ cliente.ciudad }}

          </td>

        </ng-container>


        <!-- DIRECCIÓN -->

        <ng-container
          matColumnDef="direccion">

          <th
            mat-header-cell
            *matHeaderCellDef>

            Dirección

          </th>

          <td
            mat-cell
            *matCellDef="let cliente">

            {{ cliente.direccion }}

          </td>

        </ng-container>


        <!-- ACCIONES -->

        <ng-container
          matColumnDef="acciones">

          <th
            mat-header-cell
            *matHeaderCellDef>

            Acciones

          </th>

          <td
            mat-cell
            *matCellDef="let cliente">

            <button
              mat-icon-button
              color="primary"
              [routerLink]="[
                '/clientes',
                cliente.id
              ]"
              matTooltip="Editar cliente">

              <mat-icon>
                edit
              </mat-icon>

            </button>

          </td>

        </ng-container>


        <!-- HEADER -->

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns">

        </tr>


        <!-- FILAS -->

        <tr
          mat-row
          *matRowDef="
            let row;
            columns: displayedColumns
          ">

        </tr>


      </table>


      <!-- SIN RESULTADOS -->

      @if (
        clientesFiltrados.length === 0
      ) {

        <div class="sin-resultados">

          <mat-icon>
            search_off
          </mat-icon>

          <p>
            No se encontraron clientes
            con los filtros seleccionados.
          </p>

        </div>

      }

    </div>

  </mat-card-content>

</mat-card>