<div class="toolbar">
    <h2>Trabajos finalizados</h2>
</div>

<div class="filtros">

    <mat-form-field appearance="outline">

        <mat-label>
            Buscar
        </mat-label>

        <input
            matInput
            [(ngModel)]="buscar"
            (input)="filtrar()"
            placeholder="Cliente, técnico, tarea, provincia o ciudad">

    </mat-form-field>

    <button
        mat-stroked-button
        (click)="limpiarFiltros()">

        <mat-icon>
            filter_alt_off
        </mat-icon>

        Limpiar

    </button>

</div>


<!-- ================================= -->
<!-- ESCRITORIO -->
<!-- ================================= -->

<mat-card class="desktop-view">

    <mat-card-content>

        <div class="tabla-container">

            <table
                mat-table
                [dataSource]="trabajosFiltrados">

                <!-- ID -->

                <ng-container matColumnDef="id">

                    <th mat-header-cell *matHeaderCellDef>
                        Id
                    </th>

                    <td mat-cell *matCellDef="let trabajo">
                        {{ trabajo.id }}
                    </td>

                </ng-container>


                <!-- Fecha solicitud -->

                <ng-container matColumnDef="fechaSolicitud">

                    <th mat-header-cell *matHeaderCellDef>
                        Fecha solicitud
                    </th>

                    <td mat-cell *matCellDef="let trabajo">
                        {{ trabajo.fechaSolicitud | date:'dd/MM/yyyy' }}
                    </td>

                </ng-container>


                <!-- Fecha inicio -->

                <ng-container matColumnDef="fechaInicio">

                    <th mat-header-cell *matHeaderCellDef>
                        Fecha inicio
                    </th>

                    <td mat-cell *matCellDef="let trabajo">
                        {{ trabajo.fechaInicio | date:'dd/MM/yyyy' }}
                    </td>

                </ng-container>


                <!-- Fecha finalizado -->

                <ng-container matColumnDef="fechaFinalizado">

                    <th mat-header-cell *matHeaderCellDef>
                        Fecha finalización
                    </th>

                    <td mat-cell *matCellDef="let trabajo">

                        @if (trabajo.fechaFinalizado) {

                            {{ trabajo.fechaFinalizado | date:'dd/MM/yyyy' }}

                        } @else {

                            -

                        }

                    </td>

                </ng-container>


                <!-- Fecha pagado -->

                <ng-container matColumnDef="fechaPagado">

                    <th mat-header-cell *matHeaderCellDef>
                        Fecha pagado
                    </th>

                    <td mat-cell *matCellDef="let trabajo">

                        @if (trabajo.fechaPagado) {

                            {{ trabajo.fechaPagado | date:'dd/MM/yyyy' }}

                        } @else {

                            -

                        }

                    </td>

                </ng-container>


                <!-- Cliente -->

                <ng-container matColumnDef="cliente">

                    <th mat-header-cell *matHeaderCellDef>
                        Cliente
                    </th>

                    <td mat-cell *matCellDef="let trabajo">
                        {{ trabajo.cliente }}
                    </td>

                </ng-container>


                <!-- Provincia -->

                <ng-container matColumnDef="provincia">

                    <th mat-header-cell *matHeaderCellDef>
                        Provincia
                    </th>

                    <td mat-cell *matCellDef="let trabajo">
                        {{ trabajo.provincia }}
                    </td>

                </ng-container>


                <!-- Ciudad -->

                <ng-container matColumnDef="ciudad">

                    <th mat-header-cell *matHeaderCellDef>
                        Ciudad
                    </th>

                    <td mat-cell *matCellDef="let trabajo">
                        {{ trabajo.ciudad }}
                    </td>

                </ng-container>


                <!-- Técnico -->

                <ng-container matColumnDef="tecnico">

                    <th mat-header-cell *matHeaderCellDef>
                        Técnico
                    </th>

                    <td mat-cell *matCellDef="let trabajo">
                        {{ trabajo.tecnico }}
                    </td>

                </ng-container>


                <!-- Tarea -->

                <ng-container matColumnDef="tarea">

                    <th mat-header-cell *matHeaderCellDef>
                        Tarea
                    </th>

                    <td mat-cell *matCellDef="let trabajo">
                        {{ trabajo.tarea }}
                    </td>

                </ng-container>


                <!-- Acciones -->

                <ng-container matColumnDef="acciones">

                    <th mat-header-cell *matHeaderCellDef>
                    </th>

                    <td mat-cell *matCellDef="let trabajo">

                        <button
                            mat-icon-button
                            color="primary"
                            type="button"
                            matTooltip="Ver trabajo"
                            (click)="verTrabajo(trabajo.id)">

                            <mat-icon>
                                visibility
                            </mat-icon>

                        </button>

                    </td>

                </ng-container>


                <tr
                    mat-header-row
                    *matHeaderRowDef="displayedColumns">
                </tr>

                <tr
                    mat-row
                    *matRowDef="
                        let row;
                        columns: displayedColumns
                    ">
                </tr>

            </table>

        </div>

    </mat-card-content>

</mat-card>


<!-- ================================= -->
<!-- MÓVIL -->
<!-- ================================= -->

<div class="mobile-view">

    @for (trabajo of trabajosFiltrados; track trabajo.id) {

        <mat-card class="trabajo-card">

            <mat-card-header>

                <mat-card-title>

                    Trabajo #{{ trabajo.id }}

                </mat-card-title>

                <mat-card-subtitle>

                    {{ trabajo.cliente }}

                </mat-card-subtitle>

            </mat-card-header>


            <mat-card-content>

                <div class="dato">

                    <span class="label">
                        Técnico
                    </span>

                    <span>
                        {{ trabajo.tecnico }}
                    </span>

                </div>


                <div class="dato">

                    <span class="label">
                        Tarea
                    </span>

                    <span>
                        {{ trabajo.tarea }}
                    </span>

                </div>


                <div class="dato">

                    <span class="label">
                        Provincia
                    </span>

                    <span>
                        {{ trabajo.provincia }}
                    </span>

                </div>


                <div class="dato">

                    <span class="label">
                        Ciudad
                    </span>

                    <span>
                        {{ trabajo.ciudad }}
                    </span>

                </div>


                <div class="dato">

                    <span class="label">
                        Fecha solicitud
                    </span>

                    <span>
                        {{ trabajo.fechaSolicitud | date:'dd/MM/yyyy' }}
                    </span>

                </div>


                <div class="dato">

                    <span class="label">
                        Fecha inicio
                    </span>

                    <span>
                        {{ trabajo.fechaInicio | date:'dd/MM/yyyy' }}
                    </span>

                </div>


                <div class="dato">

                    <span class="label">
                        Finalizado
                    </span>

                    <span>
                        {{ trabajo.fechaFinalizado | date:'dd/MM/yyyy' }}
                    </span>

                </div>


                <div class="dato">

                    <span class="label">
                        Pagado
                    </span>

                    <span>

                        @if (trabajo.fechaPagado) {

                            {{ trabajo.fechaPagado | date:'dd/MM/yyyy' }}

                        } @else {

                            Pendiente

                        }

                    </span>

                </div>

            </mat-card-content>


            <mat-card-actions>

                <button
                    mat-raised-button
                    color="primary"
                    type="button"
                    (click)="verTrabajo(trabajo.id)">

                    <mat-icon>
                        visibility
                    </mat-icon>

                    Ver trabajo

                </button>

            </mat-card-actions>

        </mat-card>

    }

</div>