<mat-sidenav-container class="container">

  <!-- MENÚ LATERAL -->
  <mat-sidenav
    #drawer
    [mode]="esMovil ? 'over' : 'side'"
    [opened]="!esMovil">

    <div class="logo">

      <mat-icon>engineering</mat-icon>

      <span>Sistema Técnico</span>

    </div>

    <mat-nav-list>

      @for(item of menu; track item.route) {

        <a
          mat-list-item
          [routerLink]="item.route"
          routerLinkActive="active-link"
          (click)="navegar()">

          <mat-icon>
            {{ item.icon }}
          </mat-icon>

          <span>
            {{ item.text }}
          </span>

        </a>

      }

    </mat-nav-list>

  </mat-sidenav>


  <!-- CONTENIDO PRINCIPAL -->
  <mat-sidenav-content>

    <!-- TOOLBAR -->
    <mat-toolbar color="primary">

      <!-- Botón menú -->
      <button
        mat-icon-button
        (click)="toggleMenu()">

        <mat-icon>
          menu
        </mat-icon>

      </button>


      <!-- Título -->
      <span class="titulo">
        Sistema Técnico
      </span>


      <!-- Espacio -->
      <span class="spacer"></span>


      <!-- Notificaciones -->
      <button
        mat-icon-button>

        <mat-icon>
          notifications
        </mat-icon>

      </button>


      <!-- Usuario -->
      <button
        mat-button
        [matMenuTriggerFor]="menuUsuario"
        class="usuario-menu">

        <mat-icon>
          account_circle
        </mat-icon>

        <span>
          {{ nombreUsuario }}
        </span>

        <mat-icon>
          arrow_drop_down
        </mat-icon>

      </button>

    </mat-toolbar>


    <!-- CONTENIDO DE LAS RUTAS -->
    <main class="contenido">

      <router-outlet></router-outlet>

    </main>

  </mat-sidenav-content>

</mat-sidenav-container>


<!-- MENÚ DESPLEGABLE DEL USUARIO -->
<mat-menu #menuUsuario="matMenu">

  <!-- CAMBIAR CONTRASEÑA -->
  <button
    mat-menu-item
    routerLink="/cambiar-password">

    <mat-icon>
      lock_reset
    </mat-icon>

    <span>
      Cambiar contraseña
    </span>

  </button>


  <!-- CERRAR SESIÓN -->
  <button
    mat-menu-item
    (click)="cerrarSesion()">

    <mat-icon>
      logout
    </mat-icon>

    <span>
      Cerrar sesión
    </span>

  </button>

</mat-menu>