<mat-sidenav-container class="container">

  <mat-sidenav
    #drawer
    [mode]="esMovil ? 'over' : 'side'"
    [opened]="!esMovil">

    <div class="logo">

      <mat-icon>engineering</mat-icon>

      <span>Sistema Técnico</span>

    </div>

    <mat-nav-list>

      @for(item of menu; track item.route) {

        <a
          mat-list-item
          [routerLink]="item.route"
          routerLinkActive="active-link"
          (click)="navegar()">

          <mat-icon>
            {{ item.icon }}
          </mat-icon>

          <span>
            {{ item.text }}
          </span>

        </a>

      }

    </mat-nav-list>

  </mat-sidenav>


  <mat-sidenav-content>

    <mat-toolbar color="primary">

      <!-- Botón menú -->

      <button
        mat-icon-button
        (click)="toggleMenu()">

        <mat-icon>
          menu
        </mat-icon>

      </button>


      <span class="titulo">
        Sistema Técnico
      </span>


      <span class="spacer"></span>


      <!-- Notificaciones -->

      <button
        mat-icon-button>

        <mat-icon>
          notifications
        </mat-icon>

      </button>


      <!-- Usuario -->

      <button
        mat-icon-button
        [matMenuTriggerFor]="menuUsuario">

        <mat-icon>
          account_circle
        </mat-icon>

      </button>

    </mat-toolbar>


    <main class="contenido">

      <router-outlet></router-outlet>

    </main>

  </mat-sidenav-content>

</mat-sidenav-container>


<!-- Menú de usuario -->

<mat-menu #menuUsuario="matMenu">

  <button
    mat-menu-item
    (click)="cerrarSesion()">

    <mat-icon>
      logout
    </mat-icon>

    <span>
      Cerrar sesión
    </span>

  </button>

</mat-menu>