<mat-card>

  <mat-card-header>

    <mat-card-title>
      @if (esEdicion) {
      Editar usuario #{{ idUsuario }}
      } @else {
      Nuevo usuario
      }

    </mat-card-title>
  </mat-card-header>


  <mat-card-content>

    <form [formGroup]="form" (ngSubmit)="guardar()" class="formulario">


      <!-- Usuario -->

      <mat-form-field appearance="outline">

        <mat-label>Usuario</mat-label>

        <input matInput formControlName="userName">

      </mat-form-field>


      <!-- Nombre -->

      <mat-form-field appearance="outline">

        <mat-label>Nombre y apellido</mat-label>

        <input matInput formControlName="nombreApellido">

      </mat-form-field>


      <!-- Email -->

      <mat-form-field appearance="outline">

        <mat-label>Email</mat-label>

        <input matInput type="email" formControlName="email">

      </mat-form-field>


      <!-- Celular -->

      <mat-form-field appearance="outline">

        <mat-label>Número de celular</mat-label>

        <input matInput formControlName="numeroCelular">

      </mat-form-field>


      <!-- Password -->

      <mat-form-field appearance="outline" *ngIf="!esEdicion">

        <mat-label>Contraseña</mat-label>

        <input matInput type="password" formControlName="password">

      </mat-form-field>


      <!-- Perfil -->

      <mat-form-field appearance="outline">

        <mat-label>Perfil</mat-label>

        <mat-select formControlName="idPerfil">

          <mat-option *ngFor="let perfil of perfiles" [value]="perfil.id">

            {{ perfil.nombre }}

          </mat-option>

        </mat-select>

      </mat-form-field>


      <!-- Provincia -->

      <mat-form-field appearance="outline">

        <mat-label>Provincia</mat-label>

        <mat-select formControlName="idProvincia" (selectionChange)="cambioProvincia()">

          <mat-option *ngFor="let provincia of provincias" [value]="provincia.id">

            {{ provincia.nombre }}

          </mat-option>

        </mat-select>

      </mat-form-field>


      <mat-form-field appearance="outline">

        <mat-label>Ciudad</mat-label>

        <mat-select formControlName="idCiudad" (selectionChange)="cambioCiudad()">

          <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad.id">

            {{ ciudad.nombre }}

          </mat-option>

        </mat-select>

      </mat-form-field>


      @if (mostrarCliente) {

      <mat-form-field appearance="outline">

        <mat-label>Cliente</mat-label>

        <mat-select formControlName="idCliente">

          <mat-option *ngFor="let cliente of clientesFiltrados" [value]="cliente.id">

            {{ cliente.nombre }}

          </mat-option>

        </mat-select>

      </mat-form-field>

      }

      <!-- Activo -->
      <mat-checkbox formControlName="activo">
        Usuario activo
      </mat-checkbox>

      <div class="botones">
        <button mat-stroked-button color="warn" type="button" (click)="cancelar()">
          Cancelar
        </button>

        <button mat-raised-button color="primary" type="submit">
          @if (esEdicion) {
          Guardar cambios
          } @else {
          Crear usuario
          }
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>